<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - EmployeeProjectManagementSystem</title>
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a> |
        <a asp-controller="Departments" asp-action="Index">Departments</a> |
        <a asp-controller="Employees" asp-action="Index">Employees</a> |
        <a asp-controller="Projects" asp-action="Index">Projects</a> |
        <a asp-controller="Projects" asp-action="Dashboard">Dashboard</a>
    </nav>
    <hr />
    @RenderBody()
</body>
</html>
